@model AppUserViewModel
@{
    ViewData["Title"] = "Видалити користувача";
}

<div class="text-center">
    <h2>Ви впевнені, що хочете видалити користувача @Model.FirstName @Model.LastName (@Model.Email)?</h2>
    <a asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-danger">Так</a>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Ні</a>
</div>
