@model BrandViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<div class="d-flex justify-content-center">
    <div class="w-75">
        <h2 class="text-center">@Model.Name</h2>
        <p>Id: @Model.Id</p>
        <p>@Model.Description</p>
        <div class="d-flex justify-content-center">
            <a asp-area="Admin" asp-controller="Brands" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary me-2">Змінити</a>
            <a asp-area="Admin" asp-controller="Brands" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger ms-2">Видалити</a>
        </div>
    </div>
</div>
