@using System.Globalization;
@model OrdersListViewModel
@{
    ViewData["Title"] = "Всі замовлення";
}

<div class="d-flex justify-content-center">
    <div class="w-75">
        <h2 class="text-center">Ваші замовлення</h2>
        @{
            var orders = Model.Orders.ToList();
            if (orders.Count == 0)
            {
                <h5>Схоже що Ви ще не робили жодного замовлення! Після того, як Ви зробите своє перше замовлення, воно з'явиться тут.</h5>
            }
            else
            {
                <p class="p-3">Для того, щоб переглянути деталі замовлення, натисніть на нього.</p>
                foreach (var order in orders)
                {
                    <div class="border rounded p-3 m-2 position-relative bg-light">
                        <h4><a asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id" class="link-dark link-no-underline stretched-link">Замовлення #@order.Id</a></h4>
                        Дата замовлення: @order.OrderDate<br>
                        @{
                            var spanClass = order.OrderStatus switch 
                            {
                                OrderStatusViewModel.New => "text-primary",
                                OrderStatusViewModel.CancelledByUser or OrderStatusViewModel.CancelledByAdmin => "text-danger",
                                OrderStatusViewModel.Completed => "text-success",
                                _ => "",
                            };
                        }
                        Статус замовлення: <span class="@spanClass">@EnumHelper.GetOrderStatusName(order.OrderStatus)</span><br>
                        Загальна вартість: @order.TotalPrice.ToString("N2", CultureInfo.InvariantCulture) грн.
                    </div> 
                }
            }
        }
    </div>
</div>
