@model ProductsListViewModel

<form method="get">
    <input type="text" name="search">
    <select name="categories" multiple>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <input type="submit">
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
            <th>Image</th>
            <th>Stock</th>
        </tr>
    </thead>
    @foreach (var product in Model.Products)
    {
    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Description</td>
        <td>@product.Price</td>
        <td><img src="@product.ImagePath"></td>
        <td>@product.Stock</td>
    </tr>
    }
</table>
