@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Головна";
}

<div>
    <div class="text-center">
        <h1>Еко Лінія</h1>
        <img src="~/static/images/logo.png" alt="Логотип" class="img-fluid" width="300px">
        <p>Ласкаво просимо до магазину "Еко Лінія". 
        У нас Ви можете знайти різноманітні еко-товари, від біорозкладних пакетів до засобів для дому зроблених з натуральних інгредієнтів. 
        </p>
        <br>
        <h2>Новинки</h2>
    </div>
    <div class="d-flex flex-wrap align-items-stretch justify-content-around">
        @foreach (var product in Model)
        {
        <div class="position-relative border rounded bg-light m-2 d-flex flex-wrap align-items-center" style="width:clamp(200px, 20%, 400px)">
            <img src="@product.ImagePath" alt="Фото @product.Name" width="100%" class="rounded img-fluid w-100">
            <div class="p-2 w-100">
                <h5><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="stretched-link link-dark" style="text-decoration: none;">@product.Name</a></h5>
                <h5>
                    @product.Price.ToString("N2") грн.
                </h5>
            </div>
        </div>
        }
    </div>
</div>
