@model CategoryViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<h2 class="text-center">@Model.Name</h2>
<div class="w-75 container p-3 border rounded">
    <div class="row">
        <div class="col-6 h-100">
            Id: @Model.Id<br>
            @Model.Description
        </div>
        <div class="col-6 h-100 text-center">
            <a asp-area="Admin" asp-controller="Categories" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary w-50">Змінити</a>
            <br>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mt-3 w-50">Видалити</a>
        </div>
    </div>
</div>
